.order-total-title {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: .8px;
  line-height: 140%;
  color: #ABBBC2;
  // margin-top: 20px;
}


.order-total-price {
  margin-top: 10px;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #FFFFFF;
}

